<div class="card shadow m-1" style="width: 11rem">
    <div class="inner">
        <img src={{ image }} class="card-img-top" alt="..." />
        <div class="card-body text-justify">

            {{ title }}
            
           
            <div class="card text-center">
                <div class="card-footer">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                    <span> <b>Price:${{ price }} </b> </span>
                    <a href={{ listing_url }} target="_blank">Listing URL</a>
                       <li class="nav-item">
                    
                        </li>
                        </li>
                    </ul>
            <div class="card-footer">
                <i class="fas fa-gift  text-success delete-note" data={{ id }} id="custom" style="text-align:center"></i>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>
           




